<!DOCTYPE html>
<html xml:lang>

<head>
  <title>
    CICS 2022 Yearbook
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- By KasperL You're Welcome! -->
</head>

<body>
  <h1>
    CICS 2022 Yearbook
  </h1>
  <p>Welcome to the CICS 2022 yearbook!</p>
  <div>
    <a href=" /CS">CS</a>
    <a href="/IS">IS</a>
    <a href="/IT">IT</a>
  </div>
</body>

</html>